body {
  color: white;
  background-color: black;
}
h1 {
  text-align: center;
  color: black;
}

.hidden {
  display: none;
}
label {
  border-radius: 10% / 50%;
  padding: 2rem;
}
/* #aRed {
  background-color: red;
}

#bBlue {
  background-color: blue;
}

#cGreen {
  background-color: green;
} */
